{% set title = 'Contact us' %}
{% set PROTOTYPE_URL = 'H' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

    <nav aria-label="Breadcrumb">
      <ol class="list--breadcrumb">
        <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
        <li><a href="/{{PROTOTYPE_URL}}/01-overview">Your patient health information</a></li>
        <li>{{title}}</li>
      </ol>
    </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              <p>
                If you have not received a verification code by email or mobile, contact the NHS Digital Contact Centre.
              </p>
              <p>
                We may be able to guide you through the service, or set preferences on your behalf.
              </p>
              <p>
                Call: 0300 303 5678
              </p>
              <p>
                Open: 9am to 5pm Monday to Friday (excluding bank holidays).
              </p>
            </div>
          </div>
      </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--three-quarters">
          {{ patterns.page_nav( "Register your preferences for sharing patient health data", "/" + PROTOTYPE_URL + "/app/index" ) }}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
