{% set title = 'Review your preference' %}
{% set PROTOTYPE_URL = 'H' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/06-confirm-your-choice.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

    <nav aria-label="Breadcrumb">
      <ol class="list--breadcrumb">
        <li><a href="/{{PROTOTYPE_URL}}/">NHS.UK</a></li>
        <li><a href="/{{PROTOTYPE_URL}}/app/index">Register your preferences</a></li>
        <li>{{title}}</li>
      </ol>
    </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>Step 5 of 5</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">

              <h2 id="your-preference" class="h3">Your preference</h2>

               <p class="confirmation-type" id="email-confirm" hidden="">We will send confirmation of your choice to al•••••••••••@gmail.com</p>

               <p class="confirmation-type" id="mobile-confirm" hidden="">We will send confirmation of your choice to ••••••••788</p>

               <p class="confirmation-type" id="post-confirm" hidden="">We will post you confirmation of your choice</p>

               <a href="/{{PROTOTYPE_URL}}/app/07-thank-you" class="button">Confirm</a>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
