{% set title = 'Prototype H' %}
{% set PROTOTYPE_URL = 'H' %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>{{title}}</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>November 2017</p>
        </div>
      </div>
    </div>

    <p>This Prototype was created in response to ...</p>

    <a role="button" class="button" href="/{{PROTOTYPE_URL}}/01-overview">Start Prototype</a>
    <hr>
    <h2 id="prototype-sections">Prototype sections</h2>
    <div class="grid-row">
      <div class="column--one-half">
        <h3>Pages</h3>
        <ol>
          <li><a href="/{{PROTOTYPE_URL}}/01-overview">Overview (Landing page)</a></li>
          <li><a href="/{{PROTOTYPE_URL}}/02-understanding-health-data">Understanding health data</a></li>
          <li><a href="/{{PROTOTYPE_URL}}/03-sharing-your-data">Sharing your data</a></li>
          <li><a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a></li>
          <li><a href="/{{PROTOTYPE_URL}}/05-securing-your-information">How your data is kept secure</a></li>
          <li><a href="/{{PROTOTYPE_URL}}/06-opting-out">How the opt-out process works</a></li>
          <li><a href="/{{PROTOTYPE_URL}}/07-register-your-preference">Register your preferences</a></li>
        </ol>
      </div>
      <div class="column--one-half">
        <h3>App and related pages</h3>

      </div>
    </div>

    </div>
</main>
{% endblock %}
