{% set title = 'About opting-out' %}
{% set PROTOTYPE_URL = 'aire' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/07-opt-out-process.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      <a href="/{{PROTOTYPE_URL}}/journey/index">Register your preferences for sharing health data</a>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <h1 class="page-title">{{title}}</h1>
    </div>
  </div>
</div>

<div class="step-container step-card-container-thirds">
  <div class="page-section">
    <div class="grid-row">
      <div class="">
        <div class="reading-width">

          <div id="step-enter-your-details 1" class="step first">
            <div class="">
              <div class="column--card-step-body-with-icon">
                <p>
                  If you are currently not opted-out of sharing your health data, details like your name and address can appear in data data by the NHS
                </p>
              </div>
            </div>
          </div>
          <div id="step-choose-your-contact-method" class="step">
            <div class="">
              <div class="column--card-step-body-with-icon">
                <p>
                  You are able to opt-out of sharing this data by setting your preferences at the next step. This opt-out will only apply to certain datasets
                </p>
              </div>
            </div>
          </div>
          <div id="step-enter-your-security-code" class="step last">
            <div class="">
              <div class="column--card-step-body-with-icon">
                <p>
                  Once you have changed your preferences, it can take up to 21 days for them to be applied to any future data releases.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

  <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--three-quarters">
            <p>
              <a href="/{{PROTOTYPE_URL}}/journey/08-set-your-preference" class="button" role="button">Continue</a>
            </p>
          </div>
        </div>
      </div>
    </div>


</main>
{% endblock %}
