{% set title = 'Register your preference' %}
{% set PROTOTYPE_URL = 'aire' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/07-opt-out-process.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      <a href="/{{PROTOTYPE_URL}}/journey/index">Register your preferences for sharing health data</a>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>

        <div class="grid-row">
          <div class="column--three-quarters">
            <div class="reading-width">
              <h2 class="h3">Who uses your data</h2>
              <div class="grid-row">
                <div class="column--one-fifth-right">

                </div>
                <div class="column--four-fifths">
                  <p>
                    The NHS collects health and care data from a wide variety of NHS trusts, local authorities and independent sector groups. Research bodies and organisations can request access to this data. They must meet strict conditions and criteria in order to be considered.
                  </p>
                  <p>
                    Personally identifiable data may only be released if it is used to support the delivery of health and social care services in England or if required by law.
                  </p>
                  <p>
                    The request will be rejected if this is not the case. Third party marketing or insurance companies will not be given access to your data, unless you specifically request us to do so.
                  </p>
                  <details class="" role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                      <span class="details__summary">Type of information we share</span>
                    </summary>
                    <div class="details__content" id="details-content-0" aria-hidden="true">
                      <div class="reading-width">
                        <p>
                          Your gender, date of birth and postcode are shared along with your health information. If you decide to opt-out of sharing your personally identifiable data, we will not share your name or any details that can match you personally to your medical records.
                        </p>
                      </div>
                    </div>
                  </details>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="grid-row">
            <div class="column--three-quarters">
              <div class="reading-width">
                <h2 class="h3">Where your opt-out applies</h2>
                <div class="grid-row">
                  <div class="column--one-fifth-right">

                  </div>
                  <div class="column--four-fifths">
                    <p>
                      If you opt-out of sharing your personally identifiable data, details like your name and address will no longer appear in data shared by the NHS. This will only happen if opt-outs apply to the data set being shared.
                    </p>
                    <p>
                      There are some circumstances where opt-outs do not apply, and your personally identifiable data will still be used.
                    </p>
                    <details class="" role="group">
                      <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="details__summary">Where opt-outs do not apply</span>
                      </summary>
                      <div class="details__content" id="details-content-0" aria-hidden="true">
                        <div class="reading-width">
                          <ul>
                            <li>
                              Where the information is used for purposes relating to your individual care
                            </li>
                            <li>
                              Where the personal confidential information does not contain your NHS number
                            </li>
                            <li>
                              If you have given consent for your data to be used for a specific reason, like a medical research study
                            </li>
                            <li>
                              Where data is anonymised which means individuals are not identifiable from the information
                            </li>
                            <li>
                              Where there is a legal requirement to provide information, such as an order of court
                            </li>
                            <li>
                              Where there is an overriding public interest in the disclosure of your data
                            </li>
                            <li>
                              Where information is used to support the management of communicable diseases and other risks to public health
                            </li>
                            <li>
                              Where patient registration information is supplied to the Office for National Statistics
                            </li>
                          </ul>
                        </div>
                      </div>
                    </details>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

  <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--three-quarters">
            <p>
              <a href="/{{PROTOTYPE_URL}}/journey/08-set-your-preference" class="button" role="button">Continue</a>
            </p>
          </div>
        </div>
      </div>
    </div>


</main>
{% endblock %}
