{% set title = 'About opting-out' %}
{% set PROTOTYPE_URL = 'aire' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/07-opt-out-process.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      <a href="/{{PROTOTYPE_URL}}/journey/index">Register your preferences for sharing health data</a>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <h1 class="page-title">{{title}}</h1>
    </div>
  </div>
</div>

<div class="step-container step-card-container-thirds">
  <div class="page-section">
    <div class="grid-row shadow">
      <div class="">
        <div class="reading-width">

          <div id="step-enter-your-details 1" class="step first">
            <div class="">
              <div class="column--card-step-body-with-icon">

              </div>
            </div>
          </div>


          <div id="step-choose-your-contact-method" class="step">
            <div class="">
              <div class="column--card-step-body-with-icon">
                <p>
                  The NHS collects health and care data from a wide variety of NHS trusts, local authorities and independent sector groups. Research bodies and organisations can request access to this data. They must meet strict conditions and criteria in order to be considered.
                </p>
                <p>
                  Personally identifiable data may only be released if it is used to support the delivery of health and social care services in England or if required by law.
                </p>
              </div>
            </div>
          </div>
          <div id="step-enter-your-security-code" class="step last">
            <div class="">
              <div class="column--card-step-body-with-icon">
                <p>
                  Once you have changed your preferences, it can take up to 21 days for them to be applied to any future data releases.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

  <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--three-quarters">
            <p>
              By sharing your data you can contribute to the health of future generations. However, if you don't agree with using your data for research and/or planning purposes, you can opt-out of this.
            </p>
            <p>
              The decision you make will not affect your individual care.
            </p>
            <p>
              <a href="/{{PROTOTYPE_URL}}/journey/08-set-your-preference" class="button" role="button">Edit preference</a>
              <a href="/{{PROTOTYPE_URL}}/journey/07X-exit-without-save" class="button button--secondary" role="button">Cancel</a>
            </p>
          </div>
        </div>
      </div>
    </div>


</main>
{% endblock %}
